<!DOCTYPE html>
<html>

<head>
    <title>Experiencias Wow Box</title>
    <meta name="description"
        content="Si el aislamiento arruinó los planes, no todo está perdido. thewowbox.mx tiene las mejores experiencias en casa.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script src="store.js" defer></script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v7.0"
        nonce="RuejoiSC"></script>
    <div class="contactohead" id="wowBoxes">
        <div class="bg-dark center preFooter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <a href="https://api.whatsapp.com/send?phone=525588488288" target="_blank"
                            rel="noopener noreferrer"><i class="fab fa-whatsapp" style="color: lime;"> <span
                                    style="color: rgb(187, 186, 186);" class="font">CONTÁCTANOS POR
                                    WHATSAPP</span></i></a>
                    </div>
                    <div class="col-sm"><a href="#" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-facebook fa-w-14 fa-lg" style="color: #5482e6; "></i></a>&nbsp; &nbsp;<a
                            href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram fa-w-14 fa-lg"
                                style="color: #ca364a;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="bannerTemporada">
        <h1 style="color: white;">soy un banner de bannerTemporada</h1>
    </div> -->
    <div class="sucessMessage text-center">
        <div class="sucessImg"></div>
        <!-- <h1 class="sucessTitle">¡Gracias por tu compra!</h1> -->
        <div class="fb-share-button" data-href="https://www.thewowbox.mx" data-layout="button_count" data-size="large">
            <a target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.thewowbox.mx%2F&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore">Compartir</a></div>
                
    </div>

    <footer class="main-footer">
        <div class="container main-footer-container">
            <h3><a href="/" class="band-name">thewowbox.mx</a></h3>
            <ul class="nav footer-nav">
                <li>
                    <a href="https://www.youtube.com" target="_blank">
                        <img src="Images/YouTube Logo.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.spotify.com" target="_blank">
                        <img src="Images/Spotify Logo.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="Images/Facebook Logo.png">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/assets/js/jqueryCounterupMin.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>