<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wow Box - Experiencias a domicilio</title>
    <!-- <meta name="description"
        content="Si el aislamiento arruinó los planes, no todo está perdido. thewowbox.mx tiene las mejores experiencias en casa.">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="store.js" defer></script>
</head>

<body>
    <div class="contactohead" id="wowBoxes">
        <div class="bg-dark center preFooter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <a href="https://api.whatsapp.com/send?phone=525588488288" target="_blank"
                            rel="noopener noreferrer"><i class="fab fa-whatsapp" style="color: lime;"> <span
                                    style="color: rgb(187, 186, 186);" class="font">CONTÁCTANOS POR
                                    WHATSAPP</span></i></a>
                    </div>
                    <div class="col-sm"><a href="#" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-facebook fa-w-14 fa-lg" style="color: #5482e6; "></i></a>&nbsp; &nbsp;<a
                            href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram fa-w-14 fa-lg"
                                style="color: #ca364a;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">thewowbox.mx</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contáctanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">Preguntas Frecuentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/privacy">Aviso de Privacidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/terminos">Términos & condiciones</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container terms">
        <h4>Términos y condiciones</h4>
        <p>
            Este sitio web es operado por The Wow Box. En todo el sitio, los términos “nosotros”, “nos” y “nuestro” se
            refieren a The Wow Box. Es requisito necesario para la adquisición de los productos, artículos y servicios
            que
            se ofrecen en este sitio, que acepte los siguientes términos y condiciones. El uso de nuestro servicio, así
            como
            la compra de nuestros productos implica que ha leído, entendido y aceptado los términos y condiciones
            contenidos
            en el presente documento.
        </p>
        <p>
            Al visitar nuestro sitio, acceder o utilizar cualquier parte del sitio y/o realizar la compra de nuestros
            productos acepta los siguientes términos y condiciones, incluidos todos los términos y condiciones
            adicionales y las políticas a las que se hace referencia en el presente documento y/o se encuentra
            disponible a través de hipervínculos. Estas condiciones de servicio se aplican a todos los usuarios del
            sitio. Acepta que es su responsabilidad leer el listado completo del artículo antes de comprometerse a
            comprarlo y que celebra un contrato legalmente vinculante para comprar un artículo. A través de la
            aceptación de los presentes términos y condiciones usted acepta que tiene la capacidad de ejercicio para las
            diversas acciones que puede realizar en nuestro sitio, incluyendo la adquisición de los servicios, productos
            y artículos ofertados por The Wow Box.
        </p>
        <p>
            Cualquier función nueva o herramienta que se añadan a la tienda actual, también estarán sujetas a los
            presentes términos y condiciones. Podrá revisar la versión actualizada de los términos y condiciones, en
            cualquier momento en esta página. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier
            parte de los términos y condiciones mediante la publicación de actualizaciones y/o cambios en nuestro sitio
            web. El uso continuo o el acceso al sitio web después de la publicación de cualquier cambio constituye la
            aceptación de dichos cambios.
        </p>
        <p>
            Usted se compromete a no reproducir, duplicar, copiar, vender, revender o explotar cualquier parte del
            producto o servicio que le brindamos. De igual manera, usted no puede declarar propiedad intelectual o
            exclusiva ninguno de nuestros productos, modificado o sin modificar.
        </p>
        <p>
            En caso de que no se especifique lo contrario, nuestros productos se proporcionan sin ningún tipo de
            garantía, expresa o implícita. Hay productos que pueden tener garantía y posibilidad de reembolso, pero este
            será especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas de fábrica y sólo
            se hará efectiva cuando el producto haya sido utilizado correctamente. La garantía no cubre averías o daños
            ocasionados por uso indebido. Los términos de la garantía están asociados a fallas de fabricación y
            funcionamiento en condiciones normales de los productos y sólo se harán efectivos estos términos si el
            producto ha sido usado correctamente. Esto incluye:
        </p>
        <p>
            <ul>
                <li>De acuerdo con las especificaciones técnicas indicadas para cada producto.</li>
                <li>En condiciones ambientales acorde con las especificaciones indicadas por el fabricante.</li>
                <li>En uso específico para la función con que fue diseñado de fábrica.</li>
            </ul>
        </p>
        <p>
            En ningún caso, The Wow Box será responsable por ningún tipo de daño incluyendo, pero no limitado a, daños
            directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes de la adquisición o
            uso de artículos, productos, bienes, servicios, recursos, contenidos, o cualquier otra transacción
            realizadas en conexión con sitios web de terceros.
        </p>
        <p>
            Las imágenes, gráficos, vídeos o contenido multimedia en nuestro sitio web y redes sociales son utilizadas
            de manera ejemplificativa, pero no representativa del producto, artículo o servicio que el usuario adquiera.
            Los artículos, productos o servicios pueden tener cantidades limitadas. Las descripciones de productos o
            precios de los productos están sujetos a cambios en cualquier momento sin previo aviso, a nuestra sola
            discreción. Nos reservamos el derecho de descontinuar cualquier producto en cualquier momento. Los precios
            de nuestros productos están sujetos a cambio sin aviso. Nos reservamos el derecho de modificar o
            descontinuar el servicio (o cualquier parte del contenido) en cualquier momento sin aviso previo.
        </p>
        <p>
            Todas las compras y transacciones que se lleven a cabo por medio de este sitio web están sujetas a un
            proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de
            producto, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de
            las condiciones requeridas por el medio de pago seleccionado. La compra del cliente puede ser aplazada por
            situaciones ajenas a The Wow Box.
        </p>
        <p>
            Pueden existir errores tipográficos, inexactitudes u omisiones en nuestro sitio web relacionadas con las
            descripciones de productos, precios, promociones, ofertas, gastos de envío del producto, el tiempo de
            tránsito y la disponibilidad. Nos reservamos el derecho de corregir los errores, inexactitudes u omisiones y
            de cambiar o actualizar la información o cancelar pedidos si alguna información en el servicio o en
            cualquier sitio web relacionado es inexacta en cualquier momento sin previo aviso. No seremos responsables
            por cualquier modificación, cambio de precio, suspensión o descontinuidad del servicio.
        </p>
        <p>
            En el caso de que hagamos un cambio o cancelemos una orden, le notificaremos vía correo electrónico y/o
            dirección de facturación / número de teléfono proporcionado en el momento que se hizo pedido. El usuario se
            compromete a proporcionar información actual, completa y precisa de la compra y cuenta utilizada para todas
            las compras realizadas en nuestra tienda. Su información personal se encuentra regulada por nuestro Aviso de
            Privacidad, el cual se encuentra en nuestro sitio web.
        </p>
        <p>
            Los nuevos artículos, productos, servicios y/o características que se ofrezcan a través del sitio web
            (incluyendo el lanzamiento de nuevas herramientas y recursos) estarán sujetos a estos términos y
            condiciones.
        </p>
        <p>
            Se prohíbe el uso del sitio web, de las redes sociales, y del contenido de The Wow Box: (a) para ningún
            propósito ilegal; (b) para violar cualquier regulación, reglas, leyes internacionales, federales, o
            estatales; (c) para infringir o violar el derecho de propiedad intelectual nuestro o de terceras partes; (d)
            para acosar, abusar, insultar, dañar, difamar, calumniar, desprestigiar, intimidar o discriminar por razones
            de género, orientación sexual, religión, origen étnico, edad, nacionalidad o discapacidad; (e) para cargar o
            transmitir virus o cualquier otro tipo de código malicioso que sea o pueda ser utilizado en cualquier forma
            que pueda comprometer la funcionalidad o el funcionamiento del servicio o de cualquier sitio web
            relacionado, otros sitios o Internet; (g) para recopilar o rastrear información personal de otros; (h) para
            generar spam, phish, pharm, pretext, spider, crawl, o scrape. Nos reservamos el derecho de suspender el uso
            del Servicio o de cualquier sitio web relacionado por violar cualquiera de los ítems de los usos prohibidos.
        </p>
        <p>
            Acepta indemnizar, defender y mantener indemne a The Wow Box, de cualquier reclamo o demanda, incluyendo
            honorarios razonables de abogados, hechos por cualquier tercero a causa o como resultado del incumplimiento
            del usuario de términos y condiciones, o la violación de cualquier ley o de los derechos de u tercero.
        </p>
        <p>
            Puede revisar la versión más actualizada de los términos y condiciones en cualquier momento en esta página.
        </p>
        <p>
            Si usted tiene dudas o requiere más información acerca de los términos y condiciones puede ponerse en
            contacto en el siguiente correo electrónico a contacto@thewowbox.mx.
        </p>
    </div>
    <footer class="main-footer bg-dark">
        <div class="container main-footer-container">
            <h3><a href="/" class="band-name">thewowbox.mx</a></h3>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/assets/js/jqueryCounterupMin.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
</body>

</html>