

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
body{
    position: relative;
}
.purpleArthurBg{
    background-color: #8454FC !important;
}
.purpleArthurBg2{
    background-color: #8454FC !important;
}
.italica{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.center{
    text-align: center;
}
.blueArthur{
    color: #54E8FC !important;
}
.googleTitulo{
    font-family: 'Barlow Condensed', sans-serif;
}
.googleSubTitulo{
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Economica', sans-serif;
}
.expeHashtag{
    font-size: 5rem;
    margin-bottom: 5%;
    margin-top: 5%;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
.pointer {cursor: pointer;}

.bannerTemporada{
    background-image: url("Images/WEB1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-attachment: fixed;
    transition: 0s linear;
    transition-property: background-position;
    /* margin-bottom: 6%; */
}
.masterDiv{
    margin-top: 2% !important;
}
#carouselExampleControls{
    width: 15rem;
}
.coloresBanner{
    height: 17px !important;
    width: 18rem;
    margin-left: 29%;
    margin-top: -5%;
}
.textBiveCasa{
    margin-top: 10%;
    font-size: 2rem;
}
.verticalBannerTitle{
    writing-mode: vertical-rl;
    color: #54E8FC;
    font-size: 3rem;
}
.experBannerTitleNew{
    font-size: 4rem !important;
    margin-top: 5%;
}
.zipBrowserTitle{
    padding-top: 2%;
}
.zipCodeBrowser{
    background-color: lightblue;
    padding-bottom: 2%;
}
.zipAlert, .zipAlert2{
    height: 150px;
}

.content-section {
    margin: 1em;
}
.nxt1{
    font-size: 1.5rem !important;
}

/* .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
} */
.section-header {
    font-weight: normal;
    text-align: center;
    font-size: 3.5em;
}
.formdiv{
    height: 1280px;
    background-color: grey;
    margin-bottom: 5%;
    padding-top: 5%;
}
/* .theForm{
    width: 60% !important;
    margin-left: 50%;
} */

.main-footer {
    color: white;
    padding: .25em 0;
    /* margin-top: 8%; */
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.cartShop{
    color: #2D9CDB;
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}
.xzoom-gallery {
    margin-top: 10px
}

.xzoom {
    margin-top: 40px
}

body {
    background-color: #E0E0E0
}
.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}
/* TESTING PRE VISUALIZATION OF PRODUCTS */
.imgPre{
    margin-top: 5%;
    height: 34rem;
    /* background-image: url("Images/bannerPapa.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sucessImg{
     background-image: url("Images/sucessWowBox.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 40rem;
}
.barraColores{
    background-image: url("Images/barra.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 10px;
}
.collage{
    background-image: url("Images/COLLAGE.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 40rem;
}
.brandingLogo{
    height: 18rem !important;
    margin-bottom: -33%;
    margin-top: -26%;
}
/* .bodySucess{
    margin-bottom: 30%;
} */
#imgNameItem{
    margin-top: 5%;
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgCarrousel{
    margin-top: 2%;
    max-width: 100px;
    margin-left: 7%;
}
.desc1Exp{
    margin-top: 0%;
}
.btnReMargin{
    margin-top: 4%;
}
.estrellas{
    color: gold ;
}
.estrella:hover{
    color: goldenrod;
}
.btnPreview{
    margin-top: 3%;
}
.desc1Exp2{
    margin-top: 0%;
}
/* FINISHING TESTING */

.title2{
    text-align: left !important;
}
.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
.verPremium3, .verPremium1, .verPremium2{
    display: none !important;
}

.shop-item-image {
    height: 350px;
    border-radius: 8px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5%;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
.sucessMessage{
    height: 800px;
}
.sucessTitle{
    margin-top: 20%;
}
.band-name{
    color: white !important;
}
.titleZonaE{
    padding-top: 2%;
}

.bodyCards{
    margin-top: 0%;
}
.terms{
    margin-top: 5%;
}
.logoWow{
    background-image: url("Images/logoWow.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 30rem;
     width: 30rem;
    }
.contactBanner{
    margin-top: 5%;
}
.contactList{
    margin-left: 7%;
}

.imgCarrousel1{
    max-width: 100px;
    /* margin-left: 15%; */
}
@media (min-width: 401px) and (max-width: 768px) {
    #carouselExampleControls{
        margin-left: 18%;
    }
    .btnContactWarning{
        font-size: 14px !important;
    }
    .coloresBanner{
        width: 13rem;
        margin-left: 6%;
    }
    .textBiveCasa{
        font-size: 1.5rem;
    }
    .experBannerTitleNew{
        font-size: 2rem !important;
    }
    .verticalBannerTitle{
        margin-left: 70%;
        font-size: 2rem;
    }
    .shop-item-image{
        height: 20rem !important;
    }
    .imgPre {
        height: 23rem !important;
    }
    .sucessImg{
        height: 22rem;
   }
   .sucessMessage{
        height: 600px;
   }
   #constructImg{
       height: 25rem !important;
   }
   .verPremium4{
       margin: -1%;
   }
   .btn1first, .btn2first, .btn3first, .btn4first, .btn5first, .btn6first{
    margin-left: -1% !important;
    }
    .imgCarrousel{
        margin-top: 10% !important;
    }
    .bodyCards{
        margin-top: 3%;
    }

    .btnReMargin{
        margin-top: 2%;
    }
    .zonaEresize{
      font-size: 1rem !important;
    }
    .titleZonaE{
        padding-top: 11%;
        margin-bottom: -12% !important;
    } 
    /* .bannerTemporada{
        /* background-image: url("Images/bannerMovil.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        /* height: 600px;
    } */ 
    .cart-row, .btn-danger{
        font-size: 6pt !important;
    }
    .btn-payPal, .cart-total-title{
        margin-left: 5%;
        font-size: 6pt;
    }
    /* .section-header{
        font-size: 2rem !important
    } */
    .zipBrowserTitle, #descubrirbtn, .btnCodigoFalse{
        font-size: 0.7rem !important;
    }
    .zipCodeBrowser{
        height: 9rem;
    }
    .logoWow{
        height: 20rem;
        width: 20rem;
        margin-left: 6%;
    }
    .contactList{
        width: 80%;
    }
    .section-header {
        font-size: 3.5em;
    }
    .headerSubTitle{
        font-size: 14px;
    }
    .textBiveCasa{
        margin-right: 20%;
    }
    .completarPedidoTitle{
        font-size: 20px;
    }
    .collage{
        height: 31rem;
        background-image: url("Images/COLLAGE-3.jpg");
    }
    .expeHashtag{
        font-size: 20px;
    }
    .sigenosTitleHash{
        font-size: 35px !important;
    }
    .bannerTemporada{
        background-image: url("Images/WEB1.jpg");
        background-position: -32px;
        background-repeat: space;
        background-size: cover;
        height: 900px;
        background-attachment: fixed;
        transition: 0s linear;
        transition-property: background-position;
        /* margin-bottom: 6%; */
    }
    .mediaCenter{
        text-align: center;
    }


}
@media (max-width: 400px) {
    /* .bannerTemporada{ */
        /* background-image: url("Images/bannerMovil.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        /* height: 600px; */
    /* } */
    #carouselExampleControls{
        margin-left: 11%;
    }
    .mediaCenter{
        text-align: center;
    }
    .bannerTemporada{
        background-image: url("Images/WEB1.jpg");
        background-position: -32px;
        background-repeat: space;
        background-size: cover;
        height: 900px;
        background-attachment: fixed;
        transition: 0s linear;
        transition-property: background-position;
        /* margin-bottom: 6%; */
    }
    .sigenosTitleHash{
        font-size: 35px !important;
    }
    .expeHashtag{
        font-size: 20px;
    }
    .collage{
        height: 31rem;
        background-image: url("Images/COLLAGE-3.jpg");
    }
    .shop-item-image {
        height: 280px;
    }
    .coloresBanner{
        width: 13rem;
        margin-left: 6%;
    }
    .textBiveCasa{
        font-size: 1.5rem;
    }
    .experBannerTitleNew{
        font-size: 2rem !important;
    }
    .verticalBannerTitle{
        margin-left: 70%;
        font-size: 2rem;
    }
    body{
        max-width: 576px;
    }
    .titleProdResponsiveness{
        font-size: 15pt !important;
    }
    .corpDescription{
        width: 14rem !important;
        font-size: 12pt !important;
    }
    .eligeExperienciaTitle{
        font-size: 8pt !important;
    }
    .imgPre{
        height: 21rem !important;
    }
    .imgCarrousel{
        margin-top: 10%;
        max-width: 80px;
    }
    .imgCarrousel1{
        max-width: 80px;
        margin-left: 2%;
    }
    .sucessImg{
        height: 20rem;
    }
    .privacyResponsive{
        font-size: 1.5rem !important;
    }
    .logoWow{
        height: 16rem;
        width: 18rem;
    }
    .contactList{
        width: 80%;
    }
    .formdiv{
        height: 1378px;
    }
    .cart-row, .btn-danger{
        font-size: 6pt !important;
    }
    .btn-payPal, .cart-total-title{
        margin-left: 5%;
        font-size: 6pt;
    }
    .cart-item-image{
        width: 57px;
    }
    .btnDangerSmaller{
        width: 60px;
        margin-left: -13%;
    }
    .section-header {
        font-size: 3.5em;
    }
    .headerSubTitle{
        font-size: 14px;
    }
    .textBiveCasa{
        margin-right: 20%;
    }
    .btnContactWarning{
        font-size: 14px !important;
    }
    .completarPedidoTitle{
        font-size: 20px;
    }
}
